:root {
    --background: #fff;
    --unfocused-border-color: #eaeaea;
    --focused-border-color: #666;
}

* {
    box-sizing: border-box;
}

.cinematics {
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.15)
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #000000;
    }
    .cinematics {
        box-shadow: 0 0 200px rgba(255, 255, 255, 0.15)
    }
}

body {
    background-color: var(--background);
}


input {
    border: 1px solid var(--unfocused-border-color);
    transition: border-color 0.15s ease;
    outline: none;
}

input:focus {
    border-color: var(--focused-border-color);
}
